In [3]:
from sklearn.metrics import accuracy_score as AS
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# df = pd.read_csv('./datasets/student_training.csv')
df = pd.read_csv('train.csv')
# labes = df['Major']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
data1 = df.drop(['PassengerId','Cabin','Ticket','Fare', 'Parch', 'SibSp'], axis=1)
y= data1.Survived
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
data1

,Survived,Pclass,Name,Sex,Age,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,S
4,0,3,"Allen, Mr. William Henry",male,35.0,S
5,0,3,"Moran, Mr. James",male,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,S
16,0,3,"Rice, Master. Eugene",male,2.0,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,S
21,1,2,"Beesley, Mr. Lawrence",male,34.0,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.0,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.0,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.0,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,S
...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",male,21.0,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,S
864,0,2,"Gill, Mr. John William",male,24.0,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,S
866,1,2,"Duran y More, Miss. Asuncion",female,27.0,C
867,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,S
868,0,3,"van Melkebeke, Mr. Philemon",male,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.0,S
870,0,3,"Balkic, Mr. Cerin",male,26.0,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,S
872,0,1,"Carlsson, Mr. Frans Olof",male,33.0,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,S
877,0,3,"Petroff, Mr. Nedelio",male,19.0,S
878,0,3,"Laleff, Mr. Kristo",male,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,S
881,0,3,"Markun, Mr. Johann",male,33.0,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,S
883,0,2,"Banfield, Mr. Frederick James",male,28.0,S
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,Q

In [7]:
from sklearn.preprocessing import LabelEncoder
lableEncode = LabelEncoder() # เอาไว้สำหรับแปลงตัวหนังสือเป็นตัวเลข

In [8]:
data1.Sex = lableEncode.fit_transform(data1.Sex) #แปลงจากตัวหนังสือของ Sex เป็นตัวเลข 0,1
data1

,Survived,Pclass,Name,Sex,Age,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.0,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,C
2,1,3,"Heikkinen, Miss. Laina",0,26.0,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,S
4,0,3,"Allen, Mr. William Henry",1,35.0,S
5,0,3,"Moran, Mr. James",1,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",1,54.0,S
7,0,3,"Palsson, Master. Gosta Leonard",1,2.0,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,S
11,1,1,"Bonnell, Miss. Elizabeth",0,58.0,S
12,0,3,"Saundercock, Mr. William Henry",1,20.0,S
13,0,3,"Andersson, Mr. Anders Johan",1,39.0,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,S
16,0,3,"Rice, Master. Eugene",1,2.0,Q
17,1,2,"Williams, Mr. Charles Eugene",1,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,S
19,1,3,"Masselmani, Mrs. Fatima",0,NaN,C
20,0,2,"Fynney, Mr. Joseph J",1,35.0,S
21,1,2,"Beesley, Mr. Lawrence",1,34.0,S
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,Q
23,1,1,"Sloper, Mr. William Thompson",1,28.0,S
24,0,3,"Palsson, Miss. Torborg Danira",0,8.0,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,S
26,0,3,"Emir, Mr. Farred Chehab",1,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",1,19.0,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",1,NaN,S
...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",1,21.0,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,NaN,S
864,0,2,"Gill, Mr. John William",1,24.0,S
865,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,S
866,1,2,"Duran y More, Miss. Asuncion",0,27.0,C
867,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,S
868,0,3,"van Melkebeke, Mr. Philemon",1,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",1,4.0,S
870,0,3,"Balkic, Mr. Cerin",1,26.0,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,S
872,0,1,"Carlsson, Mr. Frans Olof",1,33.0,S
873,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,S
877,0,3,"Petroff, Mr. Nedelio",1,19.0,S
878,0,3,"Laleff, Mr. Kristo",1,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,S
881,0,3,"Markun, Mr. Johann",1,33.0,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,S
883,0,2,"Banfield, Mr. Frederick James",1,28.0,S
884,0,3,"Sutehall, Mr. Henry Jr",1,25.0,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,Q
886,0,2,"Montvila, Rev. Juozas",1,27.0,S
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,S
889,1,1,"Behr, Mr. Karl Howell",1,26.0,C
890,0,3,"Dooley, Mr. Patrick",1,32.0,Q

In [9]:
print ('Number of null values in Embarked:', sum(data1.Embarked.isnull())) #หาค่า null ของ Embarked column ใน data1 ซึ่งก็คือ datafame แล้วนำมานับว่ามีกี่ตัว

Number of null values in Embarked: 2

In [10]:
row_index = data1.Embarked.isnull() #กำหนดให้ตัวแปร row_index เก็บตัวที่ค่าเป็น null
data1.loc[row_index,'Embarked']='S' #เพิ่ม data1 ในช่องที่ว่างเป็น S
data1

,Survived,Pclass,Name,Sex,Age,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.0,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,C
2,1,3,"Heikkinen, Miss. Laina",0,26.0,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,S
4,0,3,"Allen, Mr. William Henry",1,35.0,S
5,0,3,"Moran, Mr. James",1,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",1,54.0,S
7,0,3,"Palsson, Master. Gosta Leonard",1,2.0,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,S
11,1,1,"Bonnell, Miss. Elizabeth",0,58.0,S
12,0,3,"Saundercock, Mr. William Henry",1,20.0,S
13,0,3,"Andersson, Mr. Anders Johan",1,39.0,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,S
16,0,3,"Rice, Master. Eugene",1,2.0,Q
17,1,2,"Williams, Mr. Charles Eugene",1,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,S
19,1,3,"Masselmani, Mrs. Fatima",0,NaN,C
20,0,2,"Fynney, Mr. Joseph J",1,35.0,S
21,1,2,"Beesley, Mr. Lawrence",1,34.0,S
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,Q
23,1,1,"Sloper, Mr. William Thompson",1,28.0,S
24,0,3,"Palsson, Miss. Torborg Danira",0,8.0,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,S
26,0,3,"Emir, Mr. Farred Chehab",1,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",1,19.0,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",1,NaN,S
...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",1,21.0,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,NaN,S
864,0,2,"Gill, Mr. John William",1,24.0,S
865,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,S
866,1,2,"Duran y More, Miss. Asuncion",0,27.0,C
867,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,S
868,0,3,"van Melkebeke, Mr. Philemon",1,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",1,4.0,S
870,0,3,"Balkic, Mr. Cerin",1,26.0,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,S
872,0,1,"Carlsson, Mr. Frans Olof",1,33.0,S
873,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,S
877,0,3,"Petroff, Mr. Nedelio",1,19.0,S
878,0,3,"Laleff, Mr. Kristo",1,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,S
881,0,3,"Markun, Mr. Johann",1,33.0,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,S
883,0,2,"Banfield, Mr. Frederick James",1,28.0,S
884,0,3,"Sutehall, Mr. Henry Jr",1,25.0,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,Q
886,0,2,"Montvila, Rev. Juozas",1,27.0,S
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,S
889,1,1,"Behr, Mr. Karl Howell",1,26.0,C
890,0,3,"Dooley, Mr. Patrick",1,32.0,Q

In [11]:
Embarked  = pd.get_dummies(data1.Embarked , prefix='Embarked'  ) # เป็นการแบ่ง Embarked เป็นแต่ละส่วน
Embarked

     Embarked_C  Embarked_Q  Embarked_S
0             0           0           1
1             1           0           0
2             0           0           1
3             0           0           1
4             0           0           1
5             0           1           0
6             0           0           1
7             0           0           1
8             0           0           1
9             1           0           0
10            0           0           1
11            0           0           1
12            0           0           1
13            0           0           1
14            0           0           1
15            0           0           1
16            0           1           0
17            0           0           1
18            0           0           1
19            1           0           0
20            0           0           1
21            0           0           1
22            0           1           0
23            0           0           1
24            0           0           1
25            0           0           1
26            1           0           0
27            0           0           1
28            0           1           0
29            0           0           1
..          ...         ...         ...
861           0           0           1
862           0           0           1
863           0           0           1
864           0           0           1
865           0           0           1
866           1           0           0
867           0           0           1
868           0           0           1
869           0           0           1
870           0           0           1
871           0           0           1
872           0           0           1
873           0           0           1
874           1           0           0
875           1           0           0
876           0           0           1
877           0           0           1
878           0           0           1
879           1           0           0
880           0           0           1
881           0           0           1
882           0           0           1
883           0           0           1
884           0           0           1
885           0           1           0
886           0           0           1
887           0           0           1
888           0           0           1
889           1           0           0
890           0           1           0

[891 rows x 3 columns]

In [12]:
data1 = data1.drop(['Embarked'], axis=1)
data1

,Survived,Pclass,Name,Sex,Age
0,0,3,"Braund, Mr. Owen Harris",1,22.0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0
2,1,3,"Heikkinen, Miss. Laina",0,26.0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0
4,0,3,"Allen, Mr. William Henry",1,35.0
5,0,3,"Moran, Mr. James",1,NaN
6,0,1,"McCarthy, Mr. Timothy J",1,54.0
7,0,3,"Palsson, Master. Gosta Leonard",1,2.0
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0
11,1,1,"Bonnell, Miss. Elizabeth",0,58.0
12,0,3,"Saundercock, Mr. William Henry",1,20.0
13,0,3,"Andersson, Mr. Anders Johan",1,39.0
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0
16,0,3,"Rice, Master. Eugene",1,2.0
17,1,2,"Williams, Mr. Charles Eugene",1,NaN
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0
19,1,3,"Masselmani, Mrs. Fatima",0,NaN
20,0,2,"Fynney, Mr. Joseph J",1,35.0
21,1,2,"Beesley, Mr. Lawrence",1,34.0
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0
23,1,1,"Sloper, Mr. William Thompson",1,28.0
24,0,3,"Palsson, Miss. Torborg Danira",0,8.0
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0
26,0,3,"Emir, Mr. Farred Chehab",1,NaN
27,0,1,"Fortune, Mr. Charles Alexander",1,19.0
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN
29,0,3,"Todoroff, Mr. Lalio",1,NaN
...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",1,21.0
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,NaN
864,0,2,"Gill, Mr. John William",1,24.0
865,1,2,"Bystrom, Mrs. (Karolina)",0,42.0
866,1,2,"Duran y More, Miss. Asuncion",0,27.0
867,0,1,"Roebling, Mr. Washington Augustus II",1,31.0
868,0,3,"van Melkebeke, Mr. Philemon",1,NaN
869,1,3,"Johnson, Master. Harold Theodor",1,4.0
870,0,3,"Balkic, Mr. Cerin",1,26.0
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0
872,0,1,"Carlsson, Mr. Frans Olof",1,33.0
873,0,3,"Vander Cruyssen, Mr. Victor",1,47.0
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0
876,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0
877,0,3,"Petroff, Mr. Nedelio",1,19.0
878,0,3,"Laleff, Mr. Kristo",1,NaN
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0
881,0,3,"Markun, Mr. Johann",1,33.0
882,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0
883,0,2,"Banfield, Mr. Frederick James",1,28.0
884,0,3,"Sutehall, Mr. Henry Jr",1,25.0
885,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0
886,0,2,"Montvila, Rev. Juozas",1,27.0
887,1,1,"Graham, Miss. Margaret Edith",0,19.0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN
889,1,1,"Behr, Mr. Karl Howell",1,26.0
890,0,3,"Dooley, Mr. Patrick",1,32.0

In [13]:
data1= pd.concat([data1, Embarked], axis=1)  
data1

,Survived,Pclass,Name,Sex,Age,Embarked_C,Embarked_Q,Embarked_S
0,0,3,"Braund, Mr. Owen Harris",1,22.0,0,0,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,0
2,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,1
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,0,0,1
4,0,3,"Allen, Mr. William Henry",1,35.0,0,0,1
5,0,3,"Moran, Mr. James",1,NaN,0,1,0
6,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,1
7,0,3,"Palsson, Master. Gosta Leonard",1,2.0,0,0,1
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,0,1
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,0
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,0,0,1
11,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,1
12,0,3,"Saundercock, Mr. William Henry",1,20.0,0,0,1
13,0,3,"Andersson, Mr. Anders Johan",1,39.0,0,0,1
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,0,0,1
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,0,0,1
16,0,3,"Rice, Master. Eugene",1,2.0,0,1,0
17,1,2,"Williams, Mr. Charles Eugene",1,NaN,0,0,1
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,0,0,1
19,1,3,"Masselmani, Mrs. Fatima",0,NaN,1,0,0
20,0,2,"Fynney, Mr. Joseph J",1,35.0,0,0,1
21,1,2,"Beesley, Mr. Lawrence",1,34.0,0,0,1
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,0,1,0
23,1,1,"Sloper, Mr. William Thompson",1,28.0,0,0,1
24,0,3,"Palsson, Miss. Torborg Danira",0,8.0,0,0,1
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,0,0,1
26,0,3,"Emir, Mr. Farred Chehab",1,NaN,1,0,0
27,0,1,"Fortune, Mr. Charles Alexander",1,19.0,0,0,1
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN,0,1,0
29,0,3,"Todoroff, Mr. Lalio",1,NaN,0,0,1
...,...,...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",1,21.0,0,0,1
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,0,0,1
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,NaN,0,0,1
864,0,2,"Gill, Mr. John William",1,24.0,0,0,1
865,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,0,0,1
866,1,2,"Duran y More, Miss. Asuncion",0,27.0,1,0,0
867,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,0,0,1
868,0,3,"van Melkebeke, Mr. Philemon",1,NaN,0,0,1
869,1,3,"Johnson, Master. Harold Theodor",1,4.0,0,0,1
870,0,3,"Balkic, Mr. Cerin",1,26.0,0,0,1
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,0,0,1
872,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,1
873,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,0,0,1
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,1,0,0
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,1,0,0
876,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,0,0,1
877,0,3,"Petroff, Mr. Nedelio",1,19.0,0,0,1
878,0,3,"Laleff, Mr. Kristo",1,NaN,0,0,1
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,1,0,0
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,0,0,1
881,0,3,"Markun, Mr. Johann",1,33.0,0,0,1
882,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,0,0,1
883,0,2,"Banfield, Mr. Frederick James",1,28.0,0,0,1
884,0,3,"Sutehall, Mr. Henry Jr",1,25.0,0,0,1
885,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,1,0
886,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,1
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,1
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,0,0,1
889,1,1,"Behr, Mr. Karl Howell",1,26.0,1,0,0
890,0,3,"Dooley, Mr. Patrick",1,32.0,0,1,0

In [14]:
data1 = data1.drop(['Embarked_S'], axis=1)

In [15]:
data1.head()

,Survived,Pclass,Name,Sex,Age,Embarked_C,Embarked_Q
0,0,3,"Braund, Mr. Owen Harris",1,22.0,0,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0
2,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,0,0
4,0,3,"Allen, Mr. William Henry",1,35.0,0,0

In [16]:
n_row_traning= data1.shape[0] #shape[0] เป็นการบอกจำนวน rows 
n_column_traning = data1.shape[1] #shape[1] เป็นการบอกจำนวน column 
print("จำนวน row : {} จำนวน column : {} ในข้อมูล".format(n_row_traning,n_column_traning))

จำนวน row : 891 จำนวน column : 7 ในข้อมูล

In [17]:
title_mean_age=[]
title_mean_age.append(list(set(data1.Name))) #ดึงข้อมูลมาเป็น set แล้วแปลงเป็น list แล้วนำไป แปลงไปเป็น list  
title_mean_age

[['Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'Christy, Miss. Julie Rachel',
  'Giglio, Mr. Victor',
  'Sundman, Mr. Johan Julian',
  'Clifford, Mr. George Quincy',
  'Farthing, Mr. John',
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'Nirva, Mr. Iisakki Antino Aijo',
  'Asplund, Master. Edvin Rojj Felix',
  'Carter, Miss. Lucile Polk',
  'Andersson, Mr. Anders Johan',
  'Blackwell, Mr. Stephen Weart',
  'Somerton, Mr. Francis William',
  'Francatelli, Miss. Laura Mabel',
  'Robbins, Mr. Victor',
  'Hampe, Mr. Leon',
  'McCarthy, Mr. Timothy J',
  'Weir, Col. John',
  'Reeves, Mr. David',
  'Van Impe, Miss. Catharina',
  'Bishop, Mr. Dickinson H',
  'Carlsson, Mr. Frans Olof',
  'Gheorgheff, Mr. Stanio',
  'Duran y More, Miss. Asuncion',
  'Rice, Master. Eugene',
  'Carter, Mr. William Ernest',
  'Quick, Mrs. Frederick Charles (Jane Richards)',
  'Bourke, Miss. Mary',
  'Taylor, Mr. Elmer Zebley',
  'Ford, Miss. Robina Maggie "Ruby"',
  'Compton, Miss. Sara Rebecca',
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'Ekstrom, Mr. Johan',
  'Moss, Mr. Albert Johan',
  'Johnston, Miss. Catherine Helen "Carrie"',
  'Sivic, Mr. Husein',
  'Ward, Miss. Anna',
  'Bailey, Mr. Percy Andrew',
  'Johansson, Mr. Gustaf Joel',
  'Svensson, Mr. Olof',
  'Andersson, Miss. Ellis Anna Maria',
  'Saad, Mr. Khalil',
  'Hirvonen, Miss. Hildur E',
  'Mallet, Mr. Albert',
  'Milling, Mr. Jacob Christian',
  'Taussig, Mrs. Emil (Tillie Mandelbaum)',
  'Johansson, Mr. Erik',
  'Turcin, Mr. Stjepan',
  'Peter, Mrs. Catherine (Catherine Rizk)',
  'Kiernan, Mr. Philip',
  'Marvin, Mr. Daniel Warner',
  'Baclini, Miss. Helene Barbara',
  'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
  'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
  'Lindqvist, Mr. Eino William',
  'Dick, Mr. Albert Adrian',
  'McGowan, Miss. Anna "Annie"',
  'Reuchlin, Jonkheer. John George',
  'Frauenthal, Dr. Henry William',
  'Cavendish, Mr. Tyrell William',
  'Connors, Mr. Patrick',
  'Behr, Mr. Karl Howell',
  'Porter, Mr. Walter Chamberlain',
  'Naidenoff, Mr. Penko',
  'Sandstrom, Miss. Marguerite Rut',
  'Hood, Mr. Ambrose Jr',
  'Lefebre, Miss. Ida',
  'Murdlin, Mr. Joseph',
  'Johnson, Mr. Alfred',
  'Panula, Mr. Ernesti Arvid',
  'Eitemiller, Mr. George Floyd',
  'Leonard, Mr. Lionel',
  'Aks, Mrs. Sam (Leah Rosen)',
  'Mack, Mrs. (Mary)',
  'Culumovic, Mr. Jeso',
  'Lines, Miss. Mary Conover',
  'Panula, Master. Eino Viljami',
  'Moore, Mr. Leonard Charles',
  'Nilsson, Miss. Helmina Josefina',
  'Johansson, Mr. Karl Johan',
  'Goldenberg, Mr. Samuel L',
  'Bowerman, Miss. Elsie Edith',
  'Hickman, Mr. Lewis',
  'Alhomaki, Mr. Ilmari Rudolf',
  'Harper, Miss. Annie Jessie "Nina"',
  'Adams, Mr. John',
  'Endres, Miss. Caroline Louise',
  'Pettersson, Miss. Ellen Natalia',
  'Stanley, Mr. Edward Roland',
  'Boulos, Miss. Nourelain',
  'Olsson, Miss. Elina',
  'Skoog, Mr. Wilhelm',
  'Moran, Mr. Daniel J',
  'Banfield, Mr. Frederick James',
  'Sage, Miss. Constance Gladys',
  'Barton, Mr. David John',
  'Larsson, Mr. Bengt Edvin',
  'Hendekovic, Mr. Ignjac',
  'Jarvis, Mr. John Denzil',
  'Ali, Mr. Ahmed',
  'Crosby, Miss. Harriet R',
  'Laroche, Mr. Joseph Philippe Lemercier',
  'Holverson, Mr. Alexander Oskar',
  'Todoroff, Mr. Lalio',
  'Sirayanian, Mr. Orsen',
  'Thorne, Mrs. Gertrude Maybelle',
  'Troutt, Miss. Edwina Celia "Winnie"',
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'Denkoff, Mr. Mitto',
  'Sage, Mr. Frederick',
  'Smiljanic, Mr. Mile',
  'Kallio, Mr. Nikolai Erland',
  'Kvillner, Mr. Johan Henrik Johannesson',
  'Ringhini, Mr. Sante',
  'Abbott, Mrs. Stanton (Rosa Hunt)',
  'Watson, Mr. Ennis Hastings',
  'Sawyer, Mr. Frederick Charles',
  'Heininen, Miss. Wendla Maria',
  'Najib, Miss. Adele Kiamie "Jane"',
  'Bateman, Rev. Robert James',
  'Hansen, Mr. Henry Damsgaard',
  'Carlsson, Mr. August Sigfrid',
  'Williams, Mr. Charles Duane',
  'Allen, Mr. William Henry',
  'Ling, Mr. Lee',
  'Elias, Mr. Dibo',
  'Webber, Miss. Susan',
  'Simmons, Mr. John',
  'Harmer, Mr. Abraham (David Lishin)',
  'Boulos, Mrs. Joseph (Sultana)',
  'Murphy, Miss. Margaret Jane',
  'Markun, Mr. Johann',
  'Stankovic, Mr. Ivan',
  'Stoytcheff, Mr. Ilia',
  'Crease, Mr. Ernest James',
  'Abelson, Mrs. Samuel (Hannah Wizosky)',
  'White, Mr. Percival Wayland',
  'Bing, Mr. Lee',
  'Sunderland, Mr. Victor Francis',
  'Pain, Dr. Alfred',
  'Osman, Mrs. Mara',
  'Horgan, Mr. John',
  'Sadlier, Mr. Matthew',
  'Carter, Rev. Ernest Courtenay',
  'Calic, Mr. Petar',
  'Palsson, Miss. Stina Viola',
  'Fischer, Mr. Eberhard Thelander',
  'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
  'Goodwin, Master. Sidney Leonard',
  'Sivola, Mr. Antti Wilhelm',
  'Mellors, Mr. William John',
  'Saalfeld, Mr. Adolphe',
  'Dennis, Mr. Samuel',
  'Sinkkonen, Miss. Anna',
  'Hassab, Mr. Hammad',
  'Ivanoff, Mr. Kanio',
  'Palsson, Master. Gosta Leonard',
  'Clarke, Mrs. Charles V (Ada Maria Winfield)',
  'Kantor, Mr. Sinai',
  'Funk, Miss. Annie Clemmer',
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'Richards, Master. George Sibley',
  'Cairns, Mr. Alexander',
  'Lemberopolous, Mr. Peter L',
  'Lindahl, Miss. Agda Thorilda Viktoria',
  'Rommetvedt, Mr. Knud Paust',
  'Thorneycroft, Mrs. Percival (Florence Kate White)',
  'McNamee, Mr. Neal',
  'Molson, Mr. Harry Markland',
  'Ryerson, Miss. Susan Parker "Suzette"',
  'Yasbeck, Mr. Antoni',
  'Wheadon, Mr. Edward H',
  'Christmann, Mr. Emil',
  'Elsbury, Mr. William James',
  'Jacobsohn, Mr. Sidney Samuel',
  'de Pelsmaeker, Mr. Alfons',
  'Partner, Mr. Austen',
  'McKane, Mr. Peter David',
  'Nye, Mrs. (Elizabeth Ramell)',
  'Butt, Major. Archibald Willingham',
  'Gillespie, Mr. William Henry',
  'Herman, Mrs. Samuel (Jane Laver)',
  'Ryerson, Miss. Emily Borie',
  'Bishop, Mrs. Dickinson H (Helen Walton)',
  'Ohman, Miss. Velin',
  'Gaskell, Mr. Alfred',
  'Bonnell, Miss. Elizabeth',
  'Keane, Miss. Nora A',
  'Yousif, Mr. Wazli',
  'Sedgwick, Mr. Charles Frederick Waddington',
  'Turkula, Mrs. (Hedwig)',
  'Mitchell, Mr. Henry Michael',
  'de Mulder, Mr. Theodore',
  'Parr, Mr. William Henry Marsh',
  'Hanna, Mr. Mansour',
  'Edvardsson, Mr. Gustaf Hjalmar',
  'Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
  'Maenpaa, Mr. Matti Alexanteri',
  'Harrison, Mr. William',
  'Andersson, Master. Sigvard Harald Elias',
  'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
  'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
  'Dahl, Mr. Karl Edwart',
  'Ford, Miss. Doolina Margaret "Daisy"',
  'Ayoub, Miss. Banoura',
  'Mullens, Miss. Katherine "Katie"',
  'Givard, Mr. Hans Kristensen',
  'Heikkinen, Miss. Laina',
  'Andreasson, Mr. Paul Edvin',
  'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
  'Berglund, Mr. Karl Ivar Sven',
  'Smith, Miss. Marion Elsie',
  'Long, Mr. Milton Clyde',
  'Braund, Mr. Lewis Richard',
  'Lievens, Mr. Rene Aime',
  'Smith, Mr. Richard William',
  'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
  'McCoy, Miss. Agnes',
  'Newell, Mr. Arthur Webster',
  'Widegren, Mr. Carl/Charles Peter',
  'Downton, Mr. William James',
  'Silverthorne, Mr. Spencer Victor',
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'Mannion, Miss. Margareth',
  'Navratil, Master. Michel M',
  'Levy, Mr. Rene Jacques',
  'Soholt, Mr. Peter Andreas Lauritz Andersen',
  'Moor, Master. Meier',
  'Razi, Mr. Raihed',
  'Slayter, Miss. Hilda Mary',
  'Collander, Mr. Erik Gustaf',
  'Beane, Mrs. Edward (Ethel Clarke)',
  'Rogers, Mr. William John',
  'Newsom, Miss. Helen Monypeny',
  'Kink-Heilmann, Miss. Luise Gretchen',
  'Andrews, Miss. Kornelia Theodosia',
  'Holm, Mr. John Fredrik Alexander',
  'Pasic, Mr. Jakob',
  'Keane, Mr. Andrew "Andy"',
  'Fortune, Miss. Alice Elizabeth',
  'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
  'Emir, Mr. Farred Chehab',
  'Sirota, Mr. Maurice',
  'Toufik, Mr. Nakli',
  'Homer, Mr. Harry ("Mr E Haven")',
  'Humblen, Mr. Adolf Mathias Nicolai Olsen',
  'O\'Leary, Miss. Hanora "Norah"',
  'McCoy, Mr. Bernard',
  'Cunningham, Mr. Alfred Fleming',
  'Andersson, Miss. Sigrid Elisabeth',
  'Carter, Master. William Thornton II',
  'Odahl, Mr. Nils Martin',
  'Collyer, Miss. Marjorie "Lottie"',
  'Gilnagh, Miss. Katherine "Katie"',
  'Berriman, Mr. William John',
  'Nankoff, Mr. Minko',
  'Brown, Mrs. James Joseph (Margaret Tobin)',
  'Danbom, Mr. Ernst Gilbert',
  'Beckwith, Mr. Richard Leonard',
  'Connolly, Miss. Kate',
  'Touma, Mrs. Darwis (Hanne Youssef Razi)',
  'Matthews, Mr. William John',
  'Rugg, Miss. Emily',
  'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
  'Kent, Mr. Edward Austin',
  'Silvey, Mrs. William Baird (Alice Munger)',
  'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
  'Butler, Mr. Reginald Fenton',
  'Jermyn, Miss. Annie',
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'Nakid, Miss. Maria ("Mary")',
  'Youseff, Mr. Gerious',
  'Arnold-Franchi, Mr. Josef',
  'Vande Walle, Mr. Nestor Cyriel',
  'Rintamaki, Mr. Matti',
  'Harrington, Mr. Charles H',
  'Andersson, Miss. Erna Alexandra',
  'Hakkarainen, Mr. Pekka Pietari',
  'Blank, Mr. Henry',
  'Colley, Mr. Edward Pomeroy',
  'Ilmakangas, Miss. Pieta Sofia',
  'Giles, Mr. Frederick Edward',
  'Duane, Mr. Frank',
  'Attalah, Mr. Sleiman',
  'Davidson, Mr. Thornton',
  'Morrow, Mr. Thomas Rowan',
  'Sage, Miss. Stella Anna',
  'Davies, Mr. Alfred J',
  'Corn, Mr. Harry',
  'Ostby, Mr. Engelhart Cornelius',
  'Allison, Master. Hudson Trevor',
  'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
  'Nysten, Miss. Anna Sofia',
  'Barkworth, Mr. Algernon Henry Wilson',
  'Meyer, Mrs. Edgar Joseph (Leila Saks)',
  'Petterson, Mr. Johan Emil',
  'Saad, Mr. Amin',
  'Goodwin, Miss. Lillian Amy',
  'Tikkanen, Mr. Juho',
  'Waelens, Mr. Achille',
  'Caram, Mrs. Joseph (Maria Elias)',
  'Kilgannon, Mr. Thomas J',
  'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
  'Farrell, Mr. James',
  'Burke, Mr. Jeremiah',
  'Plotcharsky, Mr. Vasil',
  'Peduzzi, Mr. Joseph',
  'Sutehall, Mr. Henry Jr',
  'Salkjelsvik, Miss. Anna Kristine',
  'Wick, Mrs. George Dennick (Mary Hitchcock)',
  'Risien, Mr. Samuel Beard',
  'Lovell, Mr. John Hall ("Henry")',
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'Jensen, Mr. Niels Peder',
  'Sage, Mr. Douglas Bullen',
  'Bracken, Mr. James H',
  'Lefebre, Master. Henry Forbes',
  'Lulic, Mr. Nikola',
  'Sheerlinck, Mr. Jan Baptist',
  'Hold, Mr. Stephen',
  'Thorneycroft, Mr. Percival',
  'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
  'Turja, Miss. Anna Sofia',
  'McEvoy, Mr. Michael',
  'Turpin, Mr. William John Robert',
  'Baclini, Miss. Eugenie',
  'Kantor, Mrs. Sinai (Miriam Sternin)',
  'Harris, Mr. George',
  'Chambers, Mr. Norman Campbell',
  'Betros, Mr. Tannous',
  'Goodwin, Mr. Charles Edward',
  'Williams, Mr. Charles Eugene',
  'Cleaver, Miss. Alice',
  'Parrish, Mrs. (Lutie Davis)',
  'West, Miss. Constance Mirium',
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
  'Moran, Mr. James',
  'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
  'Crosby, Capt. Edward Gifford',
  'Hansen, Mr. Claus Peter',
  'Fortune, Mr. Mark',
  'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
  'Toomey, Miss. Ellen',
  'Zabour, Miss. Hileni',
  'Smith, Mr. James Clinch',
  'Jonkoff, Mr. Lalio',
  'Mellinger, Mrs. (Elizabeth Anne Maidment)',
  'McGough, Mr. James Robert',
  'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
  'Goldsmith, Mr. Frank John',
  'Alexander, Mr. William',
  'Hippach, Miss. Jean Gertrude',
  'Brown, Mr. Thomas William Solomon',
  'Lang, Mr. Fang',
  'Green, Mr. George Henry',
  'Daly, Mr. Eugene Patrick',
  'Dorking, Mr. Edward Arthur',
  'Sharp, Mr. Percival James R',
  'Peuchen, Major. Arthur Godfrey',
  'Samaan, Mr. Youssef',
  'Widener, Mr. Harry Elkins',
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'Gee, Mr. Arthur H',
  'Smart, Mr. John Montgomery',
  'Osen, Mr. Olaf Elon',
  'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'Rouse, Mr. Richard Henry',
  'Harper, Mr. Henry Sleeper',
  'Myhrman, Mr. Pehr Fabian Oliver Malkolm',
  'Gale, Mr. Shadrach',
  'Andersson, Miss. Ingeborg Constanzia',
  'Yasbeck, Mrs. Antoni (Selini Alexander)',
  'Norman, Mr. Robert Douglas',
  'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
  'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
  'Goldschmidt, Mr. George B',
  'Hedman, Mr. Oskar Arvid',
  'Skoog, Miss. Mabel',
  'Ridsdale, Miss. Lucy',
  'Jensen, Mr. Svend Lauritz',
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'Paulner, Mr. Uscher',
  'Abelson, Mr. Samuel',
  'Allen, Miss. Elisabeth Walton',
  'Cann, Mr. Ernest Charles',
  'Nicholson, Mr. Arthur Ernest',
  'Kelly, Mr. James',
  'Dantcheff, Mr. Ristiu',
  'Augustsson, Mr. Albert',
  'Bystrom, Mrs. (Karolina)',
  'Leyson, Mr. Robert William Norman',
  'Lurette, Miss. Elise',
  'Hamalainen, Master. Viljo',
  'Reynaldo, Ms. Encarnacion',
  'Beavan, Mr. William Thomas',
  'Moor, Mrs. (Beila)',
  'Adahl, Mr. Mauritz Nils Martin',
  'Honkanen, Miss. Eliina',
  'Johannesen-Bratthammer, Mr. Bernt',
  'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
  "O'Connell, Mr. Patrick D",
  'Smith, Mr. Thomas',
  'Renouf, Mr. Peter Henry',
  'Trout, Mrs. William H (Jessie L)',
  'Dooley, Mr. Patrick',
  'van Billiard, Mr. Austin Blyler',
  'Stahelin-Maeglin, Dr. Max',
  'Cherry, Miss. Gladys',
  'Dimic, Mr. Jovan',
  'Ponesell, Mr. Martin',
  'Lahoud, Mr. Sarkis',
  'Hoyt, Mr. Frederick Maxfield',
  'Boulos, Mr. Hanna',
  'Stranden, Mr. Juho',
  'Bidois, Miss. Rosalie',
  'Frolicher, Miss. Hedwig Margaritha',
  'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
  'Abbing, Mr. Anthony',
  'Hale, Mr. Reginald',
  'Jussila, Miss. Mari Aina',
  'Bostandyeff, Mr. Guentcho',
  'Allison, Miss. Helen Loraine',
  'Asplund, Master. Clarence Gustaf Hugo',
  'Svensson, Mr. Johan',
  'Asplund, Miss. Lillian Gertrud',
  'Albimona, Mr. Nassef Cassem',
  'Scanlan, Mr. James',
  'Campbell, Mr. William',
  'Fahlstrom, Mr. Arne Jonas',
  'Morley, Mr. Henry Samuel ("Mr Henry Marshall")',
  'Olsen, Mr. Ole Martin',
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Lindell, Mr. Edvard Bengtsson',
  'Cacic, Mr. Luka',
  'Bazzani, Miss. Albina',
  'Doling, Miss. Elsie',
  'Coxon, Mr. Daniel',
  'Shutes, Miss. Elizabeth W',
  'Barber, Miss. Ellen "Nellie"',
  'Cohen, Mr. Gurshon "Gus"',
  'Karlsson, Mr. Nils August',
  'Markoff, Mr. Marin',
  'Thomas, Master. Assad Alexander',
  'Sage, Master. Thomas Henry',
  'Van der hoef, Mr. Wyckoff',
  'Vanden Steen, Mr. Leo Peter',
  'Karun, Miss. Manca',
  'Hawksford, Mr. Walter James',
  'Beesley, Mr. Lawrence',
  'Shorney, Mr. Charles Joseph',
  'Skoog, Miss. Margit Elizabeth',
  'Goodwin, Mrs. Frederick (Augusta Tyler)',
  'Skoog, Master. Harald',
  'Nysveen, Mr. Johan Hansen',
  'Pinsky, Mrs. (Rosa)',
  'Newell, Miss. Madeleine',
  'Theobald, Mr. Thomas Leonard',
  'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)',
  'Vander Planke, Miss. Augusta Maria',
  'Davies, Mr. Charles Henry',
  'Gilinski, Mr. Eliezer',
  'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
  'Mockler, Miss. Helen Mary "Ellie"',
  'Slocovski, Mr. Selman Francis',
  'Ball, Mrs. (Ada E Hall)',
  'Ford, Mr. William Neal',
  'Rekic, Mr. Tido',
  'Sloper, Mr. William Thompson',
  'Bissette, Miss. Amelia',
  'Tomlin, Mr. Ernest Portage',
  'Masselmani, Mrs. Fatima',
  'Drazenoic, Mr. Jozef',
  'Elias, Mr. Joseph Jr',
  'Lam, Mr. Ali',
  'Coutts, Master. William Loch "William"',
  'Lehmann, Miss. Bertha',
  'Bowen, Mr. David John "Dai"',
  'del Carlo, Mr. Sebastiano',
  'Johnson, Miss. Eleanor Ileen',
  'Madigan, Miss. Margaret "Maggie"',
  'Natsch, Mr. Charles H',
  'Ilett, Miss. Bertha',
  'Knight, Mr. Robert J',
  'Larsson, Mr. August Viktor',
  'Simonius-Blumer, Col. Oberst Alfons',
  'Barbara, Mrs. (Catherine David)',
  'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
  'Danoff, Mr. Yoto',
  'Jensen, Mr. Hans Peder',
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'Baclini, Miss. Marie Catherine',
  'Dodge, Master. Washington',
  'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
  'Birkeland, Mr. Hans Martin Monsen',
  'Daly, Mr. Peter Denis ',
  'Jenkin, Mr. Stephen Curnow',
  'Pickard, Mr. Berk (Berk Trembisky)',
  'Davis, Miss. Mary',
  'Mitkoff, Mr. Mito',
  'Kelly, Mrs. Florence "Fannie"',
  'Peters, Miss. Katie',
  'Bradley, Mr. George ("George Arthur Brayton")',
  'Kraeff, Mr. Theodor',
  'Hunt, Mr. George Henry',
  'Frolicher-Stehli, Mr. Maxmillian',
  'Sjoblom, Miss. Anna Sofia',
  'Dowdell, Miss. Elizabeth',
  'Sutton, Mr. Frederick',
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'Silvey, Mr. William Baird',
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Doharr, Mr. Tannous',
  'Willey, Mr. Edward',
  'Elias, Mr. Tannous',
  'Johnson, Mr. Malkolm Joackim',
  'Flynn, Mr. John',
  'Petroff, Mr. Nedelio',
  'Panula, Master. Juha Niilo',
  'Pernot, Mr. Rene',
  'Jansson, Mr. Carl Olof',
  'Dean, Mr. Bertram Frank',
  'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
  'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
  'Reed, Mr. James George',
  'Jussila, Mr. Eiriik',
  'Dakic, Mr. Branko',
  'Daniel, Mr. Robert Williams',
  'Strandberg, Miss. Ida Sofia',
  'Kelly, Miss. Mary',
  'Windelov, Mr. Einar',
  'Eustis, Miss. Elizabeth Mussey',
  'Parkes, Mr. Francis "Frank"',
  'Lundahl, Mr. Johan Svensson',
  'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
  'Lewy, Mr. Ervin G',
  'Hodges, Mr. Henry Price',
  'Patchett, Mr. George',
  'Chip, Mr. Chang',
  'Carter, Mrs. William Ernest (Lucile Polk)',
  'Vander Planke, Mr. Leo Edmondus',
  'Wiklund, Mr. Jakob Alfred',
  'Moubarek, Master. Halim Gonios ("William George")',
  'Kalvik, Mr. Johannes Halvorsen',
  'Mionoff, Mr. Stoytcho',
  'Slabenoff, Mr. Petco',
  'Rice, Master. Eric',
  'Devaney, Miss. Margaret Delia',
  'Wiseman, Mr. Phillippe',
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'Sjostedt, Mr. Ernst Adolf',
  'Nenkoff, Mr. Christo',
  'Cribb, Mr. John Hatfield',
  'Becker, Master. Richard F',
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'Silven, Miss. Lyyli Karoliina',
  'Anderson, Mr. Harry',
  'Lam, Mr. Len',
  'Harper, Rev. John',
  'Davison, Mrs. Thomas Henry (Mary E Finck)',
  'Andrew, Mr. Edgardo Samuel',
  'Pears, Mr. Thomas Clinton',
  'Madill, Miss. Georgette Alexandra',
  'Kassem, Mr. Fared',
  'Otter, Mr. Richard',
  'Guggenheim, Mr. Benjamin',
  'Olsen, Mr. Henry Margido',
  'Harris, Mr. Walter',
  'Uruchurtu, Don. Manuel E',
  'Marechal, Mr. Pierre',
  'Roebling, Mr. Washington Augustus II',
  'Thayer, Mr. John Borland Jr',
  'Oreskovic, Miss. Marija',
  'Jalsevac, Mr. Ivan',
  'Minahan, Miss. Daisy E',
  'Ibrahim Shawah, Mr. Yousseff',
  'Mernagh, Mr. Robert',
  'Moutal, Mr. Rahamin Haim',
  'Niskanen, Mr. Juha',
  'Johnson, Master. Harold Theodor',
  'Hart, Miss. Eva Miriam',
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'Laleff, Mr. Kristo',
  'Slemen, Mr. Richard James',
  'Byles, Rev. Thomas Roussel Davids',
  'Henry, Miss. Delia',
  'Wells, Miss. Joan',
  'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
  'Fortune, Miss. Mabel Helen',
  'Nicholls, Mr. Joseph Charles',
  'Coleridge, Mr. Reginald Charles',
  'Nicola-Yarred, Master. Elias',
  'Landergren, Miss. Aurora Adelia',
  'Calderhead, Mr. Edward Pennington',
  'Hocking, Mrs. Elizabeth (Eliza Needs)',
  'Doling, Mrs. John T (Ada Julia Bone)',
  'Stewart, Mr. Albert A',
  'Perreault, Miss. Anne',
  "O'Brien, Mr. Timothy",
  'Frost, Mr. Anthony Wood "Archie"',
  'Montvila, Rev. Juozas',
  'Lennon, Mr. Denis',
  'Kenyon, Mrs. Frederick R (Marion)',
  'Hansen, Mr. Henrik Juul',
  'Backstrom, Mr. Karl Alfred',
  'Hassan, Mr. Houssein G N',
  'Jussila, Miss. Katriina',
  'Hoyt, Mr. William Fisher',
  'Vande Velde, Mr. Johannes Joseph',
  'Coleff, Mr. Satio',
  "O'Sullivan, Miss. Bridget Mary",
  'Johnson, Mr. William Cahoone Jr',

In [18]:
title_mean_age.append(data1.groupby('Name').Age.mean()) # จะแบ่งเป็น 2 array โดยจะมีตัวที่มีแต่ชื่อ และอีกตัวจะเป็นมีทั้งชื่อและอายุ
title_mean_age[0][4]

'Clifford, Mr. George Quincy'

In [19]:
n_NameAndAge = len(title_mean_age[1])
n_NameAndAge

891

In [20]:
#งงๆ
import numpy as np
n_traning= df.shape[0]   #number of rows
n_NameAndAge = len(title_mean_age[0])
for i in range(0, n_traning):
    if np.isnan(data1.Age[i])==True:
        for j in range(0, n_NameAndAge):
            if data1.Name[i] == title_mean_age[0][j]:
                data1.Age[i] = title_mean_age[1][j]

/Users/lelalomos/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
print("จำนวนอายุที่หายไป : {}".format(sum(data1.Age.isnull())))

จำนวนอายุที่หายไป : 48

In [22]:
#data1.fillna(0,inplace=true) #ใส่ข้อมูลในช่องที่ว่าง
mean_age = data1.Age.mean() #หาค่าเฉลี่ย Age 
data1.fillna(mean_age,inplace=True) #ใส่ค่าเฉลี่ยที่หาได้ไปใส่ลงช่องที่ว่าง

In [34]:
data1=data1.drop(['Name'], axis=1)

KeyError: "['Name'] not found in axis"

In [35]:
data1 = data1.drop(['Survived'],axis=1)
data1

     Pclass  Sex  Age  Embarked_C  Embarked_Q
0         3    1  0.0           0           0
1         1    0  0.0           1           0
2         3    0  0.0           0           0
3         1    0  0.0           0           0
4         3    1  0.0           0           0
5         3    1  0.0           0           1
6         1    1  0.0           0           0
7         3    1  1.0           0           0
8         3    0  0.0           0           0
9         2    0  1.0           1           0
10        3    0  1.0           0           0
11        1    0  0.0           0           0
12        3    1  0.0           0           0
13        3    1  0.0           0           0
14        3    0  1.0           0           0
15        2    0  0.0           0           0
16        3    1  1.0           0           1
17        2    1  1.0           0           0
18        3    0  0.0           0           0
19        3    0  0.0           1           0
20        2    1  0.0           0           0
21        2    1  0.0           0           0
22        3    0  1.0           0           1
23        1    1  0.0           0           0
24        3    0  1.0           0           0
25        3    0  0.0           0           0
26        3    1  0.0           1           0
27        1    1  0.0           0           0
28        3    0  0.0           0           1
29        3    1  0.0           0           0
..      ...  ...  ...         ...         ...
861       2    1  0.0           0           0
862       1    0  0.0           0           0
863       3    0  0.0           0           0
864       2    1  0.0           0           0
865       2    0  0.0           0           0
866       2    0  0.0           1           0
867       1    1  0.0           0           0
868       3    1  0.0           0           0
869       3    1  1.0           0           0
870       3    1  0.0           0           0
871       1    0  0.0           0           0
872       1    1  0.0           0           0
873       3    1  0.0           0           0
874       2    0  0.0           1           0
875       3    0  1.0           1           0
876       3    1  0.0           0           0
877       3    1  0.0           0           0
878       3    1  0.0           0           0
879       1    0  0.0           1           0
880       2    0  0.0           0           0
881       3    1  0.0           0           0
882       3    0  0.0           0           0
883       2    1  0.0           0           0
884       3    1  0.0           0           0
885       3    0  0.0           0           1
886       2    1  0.0           0           0
887       1    0  0.0           0           0
888       3    0  0.0           0           0
889       1    1  0.0           1           0
890       3    1  0.0           0           1

[891 rows x 5 columns]

In [36]:
print("จำนวนอายุที่หายไป : {}".format(sum(data1['Age'].isnull())))

จำนวนอายุที่หายไป : 0

In [37]:
for i in range(0, data1.shape[0]): #การแปลงข้อมูลให้สั้นลงเพื่อลดความซับซ้อนของข้อมูล  ถ้ามากกว่า 18 ให้เป็น 0 น้อยกว่าเป็น 1
    if data1.Age[i] > 18: 
        data1.Age[i]= 0
    else:
        data1.Age[i]= 1

/Users/lelalomos/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [39]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(penalty='l2',random_state = 0)

#Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=data1 , y=y , cv = 10) #กำหนดว่า X คือข้อมูล , Y คือ คำตอบ 
print("Logistic Regression:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")

Logistic Regression:
 Accuracy: 0.771055215072069 +/- 0.020033291127724086

/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [40]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 9, metric = 'minkowski', p = 2)

# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=data1 , y=y , cv = 10)
print("K-NN:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")

K-NN:
 Accuracy: 0.7912050278061514 +/- 0.025062755754693425

In [41]:
# Fitting Kernel SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 2)

# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=data1 , y=y , cv = 10)
print("SVM:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")

/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/Users/lelalomos/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVM:
 Accuracy: 0.7900689479060266 +/- 0.030089560512316215

In [42]:
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=data1 , y=y , cv = 10)
print("Naive Bayes:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std(),"\n")

Naive Bayes:
 Accuracy: 0.77335291113381 +/- 0.016222602381628596

In [44]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 2)

# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X=data1 , y=y , cv = 10)
print("Random Forest:\n Accuracy:", accuracies.mean(), "+/-", accuracies.std())

Random Forest:
 Accuracy: 0.8114683350357508 +/- 0.029440244470430504